[submodule "deps/first/Unreal"]
	path = deps/first/Unreal
	url = https://github.com/ocristopfer/UEPseudo.git
[submodule "deps/first/patternsleuth"]
	path = deps/first/patternsleuth
	url = git@github.com:trumank/patternsleuth.git
